
  <article class="drop-shadow lifted">
    <div class="body">
      
      <h1>Nobuyoshi Nakada is registered!</h1>
      <%= link_to("Register another attendee", "index")%>
    </div>
    
  </article>