
  <article class="drop-shadow lifted">
    <div class="body">
      <h1>Is <span>Jim Freeze</span> correct?</h1>
      
      <p><%= link_to("Try again", "results")%></p>
      
    </div>  
  </article>