// Place all the styles related to the Flows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require 'reset'
//= require 'buttons'

/* Overwriting just for the flows pages 
---------------------------------------- */

section#page header#page_header {
  height: 200px;
}
  
/* new! 
---------------------------------------- */

dt { 
  font-weight: bold;
  }
  
dd {
  margin-left: 20px;
}

input[type="text"] {
  font-size: 24px;
  vertical-align: middle;
}

#search_term { width: 600px; }

div.body table { font-size: 18px; }
div.body table tr th { font-weight: bold; text-align: left; }
div.body table tr td { padding: 5px; }
div.body table tr.alt { background: #eee; }
div.body h1 span { font-weight: bold; }

table tr.registered { opacity: 0.4; }
