    <section id='page'>
      <header id='page_header'>

        <div id='header_wrapper' class='center-wrapper'>
          <hgroup>
            <h1 id='page_title'>RubyConf&nbsp;2011</h1>
            <h2 id='date_and_location'>September 29 &mdash; October 21, New Orleans, LA</h2>
          </hgroup>

        </div>
      </header>
    </section>